{% extends "layout.html" %}

{% block body %}
  <p>
    <div class="container">
        <h2>Tervetuloa käyttämään Muistilistaa!</h2>
        <hr>
        <div class="row">
          <div class="col-md-5">
            <h4>Näin pääset alkuun</h4>
            <p> Voit luoda itsellesi uuden käyttäjän tai halutessasi kirjautua sisään jo olemassaolevalla käyttäjällä sivun oikeassa ylänurkassa olevista linkeistä. Tämän jälkeen voit luoda muistilistaan kategorioita ja tehtäviä.  </p>
          </div>
          <div class="col-md-5">
            <h4>Huomautuksia</h4>
            <p>Huomaathan, että luomasi kategoriat näkyvät kaikille käyttäjille, mutta vain kategorian tehnyt voi poistaa kyseisen kategorian tai muokata sitä. Tehtävät ovat kuitenkin henkilökohtaisia, eivätkä näy muille käyttäjille. </p>
          </div>
        </div>
        <hr>
      </div> 
  </p>

{% endblock %}
