{% extends "layout.html" %}
  
{% block body %}
<h3>Muokkaa tehtävää</h3>
<hr>
<pr>Voit muokata olemassaolevaa tehtävää muokkaamalla alla olevien kenttien sisältöä. Mikäli et haluakaan muuttaa tehtävän tietoja, pääset takaisin kaikkiin tehtäviin klikkaamalla peruuta.</pr>
<hr>
<form method="POST" action="{{ url_for('tasks_edit', task_id=task.id) }}">
  <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name(value = task.name) }}
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.priority.label }}
	</td>
	<td>
	  {{ form.priority(value = task.priority) }}
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.done.label }}
	</td>
	<td>
	  {{ form.done(value = task.done) }}
	</td>
      </tr>
      <tr>
	<td colspan="3">
	  <input type="submit" class="btn btn-info btn-sm" value="Tallenna"/>
	</td>
      </tr>
      <tr>
        <td>
          <form method ="POST" action="{{ url_for('tasks_index') }}">
            <input type="button" class="btn btn-info btn-sm" value="Peruuta" onclick="history.back()">
          </form>
        </td>
      </tr>
</form>
{% endblock %}
