{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('tasks_create') }}">
  <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
        <td>
          <ul>
	    {% for error in form.name.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
        </td>
      </tr>
      <tr>
        <td>
	  {{ form.tasks_and_categories.label }}
	</td>
	<td>
	  {{ form.tasks_and_categories }}
	</td>
        <td>
      </tr>
      <tr>
	<td>
	  {{ form.priority.label }}
	</td>
	<td>
	  {{ form.priority }}
	</td>
        <td>
          <ul>
	    {% for error in form.priority.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
        </td>
      </tr>
      <tr>
	<td>
	  {{ form.done.label }}
	</td>
	<td>
	  {{ form.done }}
	</td>
      </tr>
      <tr>
	<td colspan="3">
	  <input type="submit" value="Lisää uusi tehtävä"/>
	</td>
      </tr>
</form>
{% endblock %}
