{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('categories_edit', category_id=category.id) }}">
  <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name(value = task.name) }}
	</td>
      </tr>
      <tr>
	<td colspan="3">
	  <input type="submit" value="Tallenna"/>
	</td>
      </tr>
      <tr>
        <td>
          <form method ="POST" action="{{ url_for('tasks_index') }}">
            <input type="button" value="Peruuta" onclick="history.back()">
          </form>
        </td>
      </tr>
</form>
{% endblock %}
