{% extends "layout.html" %}

{% block body %}
<div class="container">
  <h2>Kategoriat</h2>    
  <table class="table" style="width:20%">
    <tr>
      <th>Kategoria</th>
      <th></th>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category.name }}</td>
      <td>
        <form method="POST" action="{{ url_for('categories_edit', category_id=category.id) }}">
	  <input type="submit" class="btn btn-info btn-sm" value="Muokkaa"/>
	</form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('categories_remove', category_id=category.id) }}">
	  <input type="submit" class="btn btn-info btn-sm" value="Poista"/>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
